* {
  box-sizing: border-box;
  margin: 0;
  /*background-color: rgba(0,0,0,0.1);*/
}

body {
  font-family: sans-serif;
  font-size: 1em;
}

h1, h3 {
  color: #074f83
}

.panel {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #074f83;
  margin-bottom: 10px;
}

.info {
  font-size: 0.75em;
  font-style: italic;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 120px 50px 120px 50px;
  max-width: 50%
}
